<!-- <x-menu>
  <meta data-type='logo' data-title='ЗАО "ЧИТЫ"' data-url='http://localhost/Apps/Chity'>
  <meta data-title='Рабочий стол' data-url='http://localhost/Apps/Chity'>
  <meta data-title='Управление' data-url=''>
  <meta data-title='База данных' data-url=''>
  
  <meta data-name-group='' data-title='User User' data-dropdown-list='true'>
  <meta data-title='Role' data-name-group='' data-type='group'>
  <meta data-title='Profile' data-name-group='' data-type='group' data-url='#'>
  <meta data-title='Settings' data-name-group='' data-type='group' data-url='#'>
  <meta data-title='Out' data-name-group='' data-type='group' data-url='#'>
</x-menu> -->


<x-menu>
  <x-object>
    <div key='caption'>ЗАО "ЧИТЫ"</div>
    <div key='type'>menu__logo</div>
    <div key='url'>http://localhost/Apps/Chity</div>
  </x-object>
  
  <x-object>
    <div key='caption'>Рабочий стол</div>
    <div key='items'>
      <x-object>
        <div key='items'>
          <x-object>
            <div key='caption'>Создать документы</div>
            <div key='url'>/create_docs</div>
          <div key='type'>menu__category_item</div>
          </x-object>
          <x-object>
            <div key='caption'>Повестка</div>
            <div key='url'>/news</div>
          <div key='type'>menu__category_item</div>
          </x-object>
          <x-object>
            <div key='caption'>Ежедневник</div>
            <div key='url'>/calendar</div>
          <div key='type'>menu__category_item</div>
          </x-object>
        </div>
        <div key='type'>menu__category</div>
      </x-object>
    </div>
    <div key='type'>menu__item</div>
    <div key='url'>http://localhost/Apps/Chity</div>
  </x-object>
  
  <x-object>
    <div key='caption'>Управление</div>
    <div key='items'>
      <x-object>
        <div key='caption'>Отчёты</div>
        <div key='items'>
          <x-object>
            <div key='caption'>Активность</div>
            <div key='url'>/reports/activity</div>
          <div key='type'>menu__category_item</div>
          </x-object>
          <x-object>
            <div key='caption'>Сотрудники</div>
            <div key='url'>/reports/people</div>
          <div key='type'>menu__category_item</div>
          </x-object>
        </div>
        <div key='type'>menu__category</div>
        <div key='url'>/reports</div>
      </x-object>
    </div>
    <div key='type'>menu__item</div>
  </x-object>
  
  <x-object>
    <div key='caption'>База данных</div>
    <div key='items'>
      <x-object>
        <div key='caption'></div>
        <div key='items'>
          <x-object>
            <div key='caption'>Поиск человека</div>
            <div key='url'>/serch_people</div>
          <div key='type'>menu__category_item</div>
          </x-object>
          <x-object>
            <div key='caption'>Архив</div>
            <div key='url'>/library</div>
          <div key='type'>menu__category_item</div>
          </x-object>
        </div>
        <div key='type'>menu__category</div>
      </x-object>
    </div>
    <div key='type'>menu__item</div>
    <div key='url'>./Units/Sections/Db</div>
  </x-object>
  
  <x-object>
    <div key='caption'>User</div>
    <div key='items'>
      <x-object>
        <div key='items'>
          <x-object>
            <div key='caption'>Профиль</div>
            <div key='url'>/profile</div>
          <div key='type'>menu__category_item</div>
          </x-object>
          <x-object>
            <div key='caption'>Настройки</div>
            <div key='url'>/setting</div>
          <div key='type'>menu__category_item</div>
          </x-object>
          <x-object>
            <div key='caption'>Выйти</div>
            <div key='url'>./logout</div>
          <div key='type'>menu__category_item</div>
          </x-object>
        </div>
        <div key='type'>menu__category</div>
      </x-object>
    </div>
    <div key='type'>menu__item</div>
    <div key='url'>/profile</div>
  </x-object>
</x-menu>
