:host {
  --background: #00f4;
  --display: block;
  --padding: 4px;
  
  --scrollBar__background: var(--background);
  --scrollBar__padding: 0px;
  --scrollBar__rounding: 0px;
  --scrollBar__width: 8px;
  --scrollBar_thumb__background: var(--background);
  --scrollBar_thumb__length_min: 32px;
  --scrollBar_thumb__rounding: 0px;
}


.body {
  --_scrollBar_thumb__length: 0;
}




:host {
  display: contents !important;
}

:host([hidden]) {
  display: none !important;
}


x-trackBar {
  --background: var(--scrollBar__background);
  --display: none;
  --length: auto;
  --padding: var(--scrollBar__padding);
  --rounding: var(--scrollBar__rounding);
  --width: auto;
  
  --thumb__background: var(--scrollBar_thumb__background);
  --thumb__length: max(var(--scrollBar_thumb__length_min), var(--_scrollBar_thumb__length) * 1%);
  --thumb__rounding: var(--scrollBar_thumb__rounding);
  --thumb__width_virtual_1: 4px;
  --thumb__width_virtual_2: 4px;
  --track__background: transparent;
}


.body {
  background: var(--background);
  display: var(--display);
  height: inherit;
  width: inherit;
}

.body[_scroll_x='true'] .grid {
  grid-template: auto var(--scrollBar__width) / auto;
}

.body[_scroll_x='true'] .scrollBar_x {
  --display: block;
}

.body[_scroll_y='true'] .grid {
  grid-template: auto / auto var(--scrollBar__width);
}

.body[_scroll_y='true'] .scrollBar_y {
  --display: block;
}

.body[_scroll_x='true'][_scroll_y='true'] .grid {
  grid-template: auto var(--scrollBar__width) / auto var(--scrollBar__width);
}


.grid {
  display: grid;
  height: 100%;
  width: 100%;
}


.screen {
  display: block;
  padding: var(--padding);
  overflow: auto;
  position: relative;
  scrollbar-width: none;
}

.screen::-webkit-scrollbar {
  height: 0;
  width: 0;
}
