:host {
    display: contents !important;
}


x-menu {
    border-bottom: 1px solid #aaa;
    top: 0;
    position: sticky;
    background:#b5a7ff;
    height: 60px;
    /* box-shadow: 1px 1px 0px #000d; */
}
