<x-menu>
  <meta data-type='logo' data-title='ЗАО "ЧИТЫ"' data-url='http://localhost/Apps/Chity'>
  <meta data-title='Документы' data-url=''>
  <meta data-title='Новости' data-url=''>
  <meta data-name-group='' data-title='User User' data-dropdown-list='true'>
  <meta data-title='Role' data-name-group='' data-type='group'>
  <meta data-title='Profile' data-name-group='' data-type='group' data-url='#'>
  <meta data-title='Settings' data-name-group='' data-type='group' data-url='#'>
  <meta data-title='Out' data-name-group='' data-type='group' data-url='#'>
</x-menu>
